.content {
  height: 31.25rem;
  gap: 0.625rem;
  width: 72rem;
}

.tagline {
  width: 29.188rem;
}

.tagline h1 {
  font-size: 3.125rem;
  line-height: 150%;
}

.tagline p {
  line-height: 150%;
  font-size: 1rem;
}

.content button {
  width: 17.25rem;
}
