.hero{
    width: 1440px;
    padding: 208px 0px 96px 0px;
}
.container{
    border-radius: var(--radius-large, 16px);
    border: 1px solid var(--Neutral-1, #001125);
    background: var(--Neutral-White-Default, #FFF);

    /* Shadow/2 */
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.30);
}