.carousel{
    /* Shadow/2 */
    /* box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.30); */
}
.benefit-card{
    /* width: 294px; */
    /* height: 360px; */
    /* padding-top: 46px; */
    border-radius: 16px;
    /* border: 1px solid var(--Neutral-1, #001125); */
    /* background: var(--Neutral-White-Default, #FFF); */
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.30); 
}
.cicrle{
    width: 60px;
    height: 60px;
    padding: 18px;
    gap: 10px;

    position: absolute;
    left: 117px;
    top: -30px;

    border-radius: 50px;
    background: var(--Primary-1, #FEA02F);

    /* Shadow/2 */
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.30);
}
.vector{
    stroke-width: 1px;
    stroke: var(--Neutral-1, #001125);
}