.inside-padding {
  width: 1152px;
}

.icon-hero {
  left: 41%;
  top: -100px;
}

.talent-activities {
  height: 692px;
}

.container-content {
  border-radius: 16px;
  width: 450px;

  /* Shadow/2 */
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 639px) {
  .container-hero {
    width: 312px;
    height: 300px;
  }
}
