@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.content {
  padding-top: 21.25rem;
  padding-left: 5rem;
  width: 37.509rem;
  height: 21.222rem;
}

button {
  background-color: #ff985a;
}

.testimoni {
  background: #e4e3ce;
}

.card {
  height: 28.125rem;
  width: 25rem;
}

.card-art {
  height: 28.125rem;
  border: 1px solid #000;
}

.card-img {
  width: 25rem;
  height: 12.5rem;
  background: #d9d9d9;
}

.card-content {
  width: 25rem;
  height: 10.125rem;
}

p {
  line-height: 150%;
}
