@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.content {
  padding-top: 21.25rem;
  padding-left: 5rem;
  width: 37.509rem;
  height: 21.222rem;
}

.content button {
  background-color: #ff985a;
}

.testimoni {
  background: #e4e3ce;
}

.card {
  height: 25rem;
  width: 21rem;
}
